/* Small Phone Styling */
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/images/Glacier\ 2018\ 1043_Original.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #323232;
}

nav {
    color: white;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    display: none;
}

.navLink {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.navLink:hover {
    color: #b0e7b2;
}

.leftNav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.rightNav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.navTitle, .midNav {
    display: none;
    visibility: none;
}

/* Styling for headers */

h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

/* Styling for Home Page */

.home {
    padding: 50px 0px 50px 0px;
}

#welcome {
    display: none;
    visibility: none;
}

#caption {
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* Styling for projects */

.projBox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.projImg, .projCaptions {
    display: flex;
    flex-direction: column;
}

.projImg {
    flex: 1;
    width: 90%;
}

.projCaptions {
    flex: 2;
}

.img{
    margin: 20px auto;
    width: 70%;
}

.dbImg {
    margin-top: 90px;
}

.petCaption {
    color: white;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.github {
    color: white;
    text-decoration: none;
    background-color: #b0e7b28c;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 4px #c9c9c9;
    text-align: center;
    padding: 10px 0px;
    width: 40%;
    margin: 10px auto 20px auto;
}

.github:hover {
    background-color: #323232;
    border: 1px solid #b0e7b2;
    box-shadow: 0px 3px 4px #b0e7b2;
}

/* About styling */
.about {
    margin-top: 10px;
}

p {
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 0px 20px;
}

h3 {
    color: white;
    margin: 20px 0px 10px 15px;
    text-decoration: underline 1px solid white;
}

.skills {
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}


/* Styling for the contact section */

.contact {
    margin-top: 30px;
}

.link {
    color: white;
    text-decoration: none;

}

.socials {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.soc:hover {
    color: #b0e7b2;
}

/* End of styling for phone */

@media only screen and (min-width: 340px) {
    .img {
        margin-top: 35px;
    }
}

@media only screen and (min-width: 400px) {
    .img {
        margin-top: 10px;
    }
}

/* Styling for Tables */
@media only screen and (min-width: 720px) {
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
    }
    
    .link {
        font-size: 25px;
    }

    p {
        font-size: 25px;
    }

    #caption {
        font-size: 30px;
    }

    .home {
        margin-bottom: 50px;
    }

    .petCaption {
        font-size: 25px;
    }

    .projCaptions {
        margin-top: 60px;
    }

    .img {
        margin-top: 20px;
    }

    li {
        font-size: 25px;
    }

    .about {
        margin: 60px 0px ;
    }

    .github {
        font-size: 25px;
        width: 30%;
    }
}

/* Styling for 1024 */
@media only screen and (min-width: 1024px) {
    nav{
        display: flex;
    }

    .navLink {
        font-size: 30px;
    }

    .socials {
        margin: 60px 0px;
    }

    .petCaption, p, h3, li, .link {
        font-size: 30px;
    }


    .github:first-of-type {
        margin-bottom: 150px;
    }

    .github {
        margin-top: 20px;
    }

    .contactP {
        margin-top: 40px;
    }

    .home {
        margin-top: 160px;
    }
}

/* Styling for 1366 and up */
@media only screen and (min-width: 1366px) {
    .home {
        margin-bottom: 350px;
        padding-top: 270px;
        margin-top: 0px;
    }

    .navLink {
        font-size: 35px;
    }

    h2 {
        font-size: 70px;
    }

    .img {
        width: 70%;
    }

    .petCaption {
        font-size: 40px;
    }

    .github {
        font-size: 40px;
    }

    .petCaption, p, h3, li, .link {
        font-size: 40px;
    }

    .aboutCaption {
        margin: 30px 0px;
    }
    .skills {
        margin-bottom: 200px;
    }

    .about {
        margin-top: 200px;
    }
}

/* Styling for 1440px up */
@media only screen and (min-width: 1440px) {
    .projCaptions {
        margin-top: 100px;
    }
}

/* Styling for 1501 and up */
@media only screen and (min-width: 1501px) {
    .projCaptions {
        margin-top: 190px;
    }
}

/* Styling for 1560 and up */
@media only screen and (min-width: 1560px) {
    .projCaptions {
        margin-top: 230px;
    }
}

/* Styling for 1680 and up */
@media only screen and (min-width: 1680px) {
    .projCaptions {
        margin-top: 260px;
    }
}

/* Styling for 1760 and up */
@media only screen and (min-width: 1760px) {
    .projCaptions {
        margin-top: 220px;
    }

    .projCaptions:last-of-type {
        margin-top: 300px;
    }
}

/* Styling for 1900 and up */
@media only screen and (min-width: 1900px) {
    .projCaptions {
        margin: 0px;
    }

    .projCaptions:last-of-type {
        margin: 0px;
    }

    .one {
        margin-top: 120px;
    }

    .two {
        margin-top: 50px;
    }

    .petCaption, p, h3, li, .link {
        font-size: 60px;
    }

    

    h2 {
        font-size: 100px;
    }
}