* {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    animation: fadeInAnimation ease 3s;
    font-family: 'Prompt', sans-serif;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Fade in on page load animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    color: white;

}

.orange {
    color: #ff5900;
}

.contact {
    color: white;
    background-color: rgb(255, 89, 0);
}

.contact:hover {
    color: rgb(255, 89, 0);
    border: 1px rgb(255, 89, 0) solid;
}

.aboutHead {
    color: rgb(255, 89, 0);
}

.aboutCap {
    color: white;
}

li {
    color: white;
}

ul {
    list-style: none;
}

h3 {
    color: rgb(255, 89, 0);
}

.projects {
    color: white;
    border: 1px rgb(80, 78, 77) solid;
}

.title {
    color: rgb(255, 89, 0);
}

.button {
    background-color: rgb(255, 89, 0);
    color: white;
}

.button:hover {
    color: rgb(255, 89, 0);
    border: 1px rgb(255, 89, 0) solid;
}

.conbutton {
    color: rgb(255, 89, 0);
    border: 1px rgb(255, 89, 0) solid;
}

.conbutton:hover {
    background-color: rgb(255, 89, 0);
    color: white;
}

/* Styling for particle.js */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

/* More fadeIn animation styling */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 2s ease-out forwards;
    opacity: 0;
}

.fade-in.delay-1 {
    animation-delay: 0.5s;
}

.fade-in.delay-2 {
    animation-delay: 1s;
}